html, body, p,
img, h1, h2, div, span {
  margin: 0;
  padding: 0;
}
body {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
}

/* HEADER */
img.logo {
  width: 165px;
}
.navbar {
  background-color: #ffffff;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: #606060;
  transition-duration: 1s;
  font-weight: 500;
}
.jumbotron {
  background-color: #ffffff;
  height: 80vh;
}
.container, .hero-container {
  padding-top: 120px;
}
.headline {
  font-weight: 900;
}
.lead {
  font-size: 1.6rem;
  font-weight: 300;
}
.self {
  position: absolute;
  right: 344px;
  top: 0;
}
img.me {
  height: 630px;
}
.hero-btns {
  margin-top: 30px;
}
span.dev {
  color:#1981C7;
}
.btn-outline-primary,
.btn-outline-primary:hover {
  border-color: #1981C7;
  transition-duration: .2s;
}
.btn-primary:hover {
  background-color: #ffffff;
  color: #1981C7;
  transition-duration: .2s;
}
.title {
  margin-bottom: 20px; 
}
.work {
  display: grid;
  /* gap: 20px; */
  column-gap: 20px;
  row-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.card {
  width: 100%;
  height: 100%;
}
.work-items {
  justify-self: center;
}